<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Online JSP Compiler</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>spring-web</servlet-name>
    <servlet-class>
                    org.springframework.web.servlet.DispatcherServlet
          </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- <servlet>
    <servlet-name>JSPCompilerServlet</servlet-name>
    <servlet-class>
                    com.onlinejspcompiler.servlet.JSPCompilerServlet
          </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet> -->
  <servlet-mapping>
    <servlet-name>spring-web</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- <servlet-mapping>
    <servlet-name>JSPCompilerServlet</servlet-name>
    <url-pattern>/compile</url-pattern>
  </servlet-mapping> -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/spring-web-servlet.xml,classpath*:META-INF/spring/*-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
   </listener-class>
  </listener>
  
   <filter>
    <filter-name>MoesifFilter</filter-name>
    <filter-class>com.moesif.servlet.MoesifFilter</filter-class>
    <init-param>
      <param-name>application-id</param-name>
      <param-value>eyJhcHAiOiI1MTk6MjMyIiwidmVyIjoiMi4wIiwib3JnIjoiMjQwOjI4OSIsImlhdCI6MTU5MzU2MTYwMH0.hloe4UdUMZB_iiYba0kLFwb6HDdYTAL7aCKkQkOGQ0k</param-value>
    </init-param>
    <init-param>
      <param-name>logBody</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MoesifFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>